*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit';
}

html,body{
    height: 100%;
}



body{
    background: hsl(212, 45%, 89%);
    display: flex;
    align-items: center;
    font-size: 15px;
}

.box{
    width: 300px;
    background: hsl(0, 0%, 100%);
    text-align: center;
    margin: 0 auto;
    padding: 18px;
    box-shadow: 0 15px 10px rgba(31, 50, 81, 0.2);
    border-radius: 20px;
}

.box img{
    width: 100%;
    border-radius: 10px;
}

.conteudo{
    margin-top: 15px;
}

.conteudo h2{
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

.conteudo p{
    font-weight: 400;
    margin-top: 18px;
    color: hsl(216, 15%, 48%);
    padding-bottom: 20px;
}










/*
.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-top: 15px;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}*/